/* タイピングゲーム全体 */
body {
  font-size: 6em;
  text-align: center;
}

/* ゲームの残り秒数が表示されるタイマーと、入力された正タイプ文字のカウント領域 */
.count,
.textcount {
  margin: 0;
  font-weight: bold;
  color: #888;
}

/* テキストが表示される領域 */
.wrap {
  margin-top: 20px;
  padding: 80px 40px;
  background-color: #666;
  font-weight: bold;
  color: #fff;
}

/* 正しくタイプされた場合のテキスト */
.typed {
  color: lightgreen;
}

/* ミスタイプの場合の背景 */
.mistyped {
  background-color: red;
}

.text {
  display: none;
  background-color: rgb(236, 236, 236);
  margin: 0;
  color: #888;
  font-size: 0.5em;
}